<!-- templates/registration/password_reset_done.html -->
{% block content %}
  <p>Un e-mail avec des instructions pour réinitialiser votre mot de passe a été envoyé.</p>
{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" type='text/css' href="{% static recuperation_style.css %}"/>
	<title>Mots de passe oublier</title>
</head>
<body>
    
	<main>
        <div class="forget-ill">
            <div class="img">
                <img src="{% static 'assets/Image/icone-recuperation-mot-passe-courrier-vectoriel-plat-ecran-internet-cybersecurite-isole_98396-61837.avif' %}" alt="">
            </div> 
        </div>
        <p class="rec-txt">
            Un email avec des instructions pour réinitialiser votre mot de passe a été envoyer
        </p>
        <button type="submit" class="aze"> <a href="{% url 'login' %}">Se connecter</a></button>
    </main> 
</body>

</html>