{% extends "base.html" %}


{% block mainContent %}

<h1>Affichage d'un profil</h1>
<dl class="fieldList">
<dt>Nom:</dt>
<dd>{{ user_to_show.name }}</dd>
<dt>Prénom:</dt>
<dd>{{ user_to_show.surname }}</dd>
<dt>Bio:</dt>
<dd>{{ user_to_show.bio }}</dd>
<dt>Date of birth:</dt>
<dd>{{ user_to_show.date_of_birth }}</dd>
<dt>Gender:</dt>
<dd>{{ user_to_show.gender }}</dd>
<dt>Location:</dt>
<dd>{{ user_to_show.location }}</dd>
<dt>Preffered Gender:</dt>
<dd>{{ user_to_show.preferred_gender }}</dd>
<dt>Interests:</dt>
<dd>{{ user_to_show.interests }}</dd>
<dt>Preffered location:</dt>
<dd>{{ user_to_show.preferred_location }}</dd>
</dl>
<p id="showProfileNavigationButtons">
    <a href="{% url "home" %}">Retour</a>
</p>

{% endblock %}
