<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/config-style.css' %}">
    <title>Configuration du Compte</title>
</head>
<body>
    <header>
        <div class="logo-container"><img src="{% static 'assets/Logo/2.svg' %}" alt="cupid-logo"></div>
    </header>
    <main>
        <h1>Configuration du Compte</h1>
        <form method="post" enctype="multipart/form-data" action="{% url 'configuration' %}">
            {% csrf_token %}
            <div class="form">
                <fieldset>
                    <legend>Photos de profils</legend>
                    <div class="im1 im">
                        <label class="pdp1" for="pdp1">
                            <input id="pdp1" type="file" name="pdp1" accept="image/*" onchange="previewImage(event, 'preview1')">
                            <div class="add-icon-container" id="preview1">
                                <img src="{% static 'assets/Icons/svg/bxs-image-add.svg' %}" alt="">
                            </div>
                        </label>
                        <label class="pdp2" for="pdp2">
                            <input id="pdp2" type="file" name="pdp2" accept="image/*" onchange="previewImage(event, 'preview2')">
                            <div class="add-icon-container" id="preview2">
                                <img src="{% static 'assets/Icons/svg/bxs-image-add.svg' %}" alt="">
                            </div>
                        </label>
                        <label class="pdp3" for="pdp3">
                            <input id="pdp3" type="file" name="pdp3" accept="image/*" onchange="previewImage(event, 'preview3')">
                            <div class="add-icon-container" id="preview3">
                                <img src="{% static 'assets/Icons/svg/bxs-image-add.svg' %}" alt="">
                            </div>
                        </label>
                    </div>
                    <div class="im2 im">
                        <label class="pdp4" for="pdp4">
                            <input id="pdp4" type="file" name="pdp4" accept="image/*" onchange="previewImage(event, 'preview4')">
                            <div class="add-icon-container" id="preview4">
                                <img src="{% static 'assets/Icons/svg/bxs-image-add.svg' %}" alt="">
                            </div>
                        </label>               
                        <label class="pdp5" for="pdp5">
                            <input id="pdp5" type="file" name="pdp5" accept="image/*" onchange="previewImage(event, 'preview5')">
                            <div class="add-icon-container" id="preview5">
                                <img src="{% static 'assets/Icons/svg/bxs-image-add.svg' %}" alt="">
                            </div>
                        </label>               
                        <label class="pdp6" for="pdp6">
                            <input id="pdp6" type="file" name="pdp6" accept="image/*" onchange="previewImage(event, 'preview6')">
                            <div class="add-icon-container" id="preview6">
                                <img src="{% static 'assets/Icons/svg/bxs-image-add.svg' %}" alt="">
                            </div>
                        </label>
                    </div>                
                    <p class="nb">Vous devez ajouter au minimum 1 photo</p>
                </fieldset>
                <section class="left">
                    <div class="name-firstname-container">
                        <div class="name-input-container input-container">
                            <label for="name">Nom</label>
                            <input type="text" id="name" name="username" value="{{ user.username }}" readonly>
                        </div>
                        <div class="firstname-input-container input-container">
                            <label for="firstname">Prénom</label>
                            <input type="text" id="firstname" name="first_name" value="{{ user.first_name }}">
                        </div>
                    </div>
                    <div class="bird-date-form">
                        <fieldset class="f-ann">
                            <legend>Anniversaire</legend>
                            <input type="text" id="day" name="day" placeholder="JJ" maxlength="2">
                            <input type="text" id="month" name="month" placeholder="MM" maxlength="2">
                            <input type="text" id="year" name="year" placeholder="AAAA" maxlength="4">
                        </fieldset>
                    </div>
                    <fieldset class="f-gen">
                        <legend>Genre</legend>
                        <div class="ch">
                            <input type="radio" id="male" name="gender" value="H" {% if user.gender == 'H' %}checked{% endif %}>
                            <label for="male">Homme</label>
                        </div>
                        <div class="ch">
                            <input type="radio" id="female" name="gender" value="F" {% if user.gender == 'F' %}checked{% endif %}>
                            <label for="female">Femme</label>
                        </div>
                        <div class="ch">
                            <input type="radio" id="other" name="gender" value="A" {% if user.gender == 'A' %}checked{% endif %}>
                            <label for="other">Autres</label>
                        </div>
                    </fieldset>
                    <fieldset class="f-inn">
                        <legend>Intéressé(e) par:</legend>
                        <div class="ch">
                            <input type="radio" id="interested_male" name="interested_in" value="H" {% if user.interested_in == 'H' %}checked{% endif %}>
                            <label for="interested_male">Homme</label>
                        </div>
                        <div class="ch">
                            <input type="radio" id="interested_female" name="interested_in" value="F" {% if user.interested_in == 'F' %}checked{% endif %}>
                            <label for="interested_female">Femme</label>
                        </div>
                        <div class="ch">
                            <input type="radio" id="interested_all" name="interested_in" value="T" {% if user.interested_in == 'T' %}checked{% endif %}>
                            <label for="interested_all">Tout</label>
                        </div>
                    </fieldset>
                </section>
            </div>
            <div class="but"><button type="submit">Confirmer</button></div>
        </form>
    </main>
    <script>
        function previewImage(event, previewId) {
            var reader = new FileReader();
            reader.onload = function() {
                var output = document.getElementById(previewId);
                output.innerHTML = '<img src="' + reader.result + '" alt="Photo de profil" style="width: 100%; height: 100%;">';
            };
            reader.readAsDataURL(event.target.files[0]);
        }

        // Sélectionner tous les éléments avec la classe 'ch'
        const choices = document.querySelectorAll('.ch');

        // Ajouter un écouteur d'événements à chaque élément
        choices.forEach(choice => {
            choice.addEventListener('click', function() {
                // Trouver l'élément actuellement sélectionné et le désélectionner
                const currentlySelected = choice.parentNode.querySelector('.selected');
                if (currentlySelected) {
                    currentlySelected.classList.remove('selected');
                }

                // Sélectionner l'élément cliqué
                choice.classList.add('selected');
            });
        });
    </script>
</body>
</html>
